body {
  width: 300px;
  font-family: Arial;
  padding: 10px;
}

textarea {
  width: 100%;
  height: 60px;
}

button {
  width: 100%;
  margin-top: 5px;
}

#response {
  margin-top: 10px;
  white-space: pre-wrap;
}